/* @import url('https://fonts.cdnfonts.com/css/gilroy-bold'); */

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../fonts/GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

.center {
    padding-left: calc(50% - 1174px / 2);
    padding-right: calc(50% - 1174px / 2);
}

.main-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-header-logo {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
}

.main-header-nav {
    list-style-type: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.header-link {
    text-decoration: none;
}

.main-header-nav:hover {
    color: #F25822;
}

.orange {
    color: #F25822;
}

.main-content {
    padding-top: 44px;
    padding-bottom: 100px;
}

.main-content-head {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 17px;
}

.main-content-paragraf {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    width: 466px;
    margin-bottom: 37px;
}

.main-header-button {
    border-radius: 30px;
    background: #F25822;
    border: none;

    color: #FFF;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    padding: 13px 27px;
}


.push {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
    
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    padding: 16px 36px;
}

.video {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
}

.logo-content {
    margin-top: 96px;
    margin-bottom: 96px;
}